<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <nav class="d-flex align-items-center" >
            <div class="logo align-self-start">
                <img src="https://www.lamborghini.com/sites/it-en/files/themes/custom/lambo_facelift_2019/images/logo.png" alt="" width="60px">
            </div>
            <ul class="d-flex">
                <li><a class="on-dark" href=""><span>Trang chủ</span></a></li>
                <li><a class="on-dark" href=""><span>Trang chủ</span></a></li>
                <li><a class="on-dark" href=""><span>Trang chủ</span></a></li>
            </ul>
            <div class="mid d-flex justify-content-center ">
                <div class="search d-flex align-items-center px-1 py-1">
                    <input class="serach-header " type="text d-block" placeholder="Tìm kiếm....">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search icon-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </div>
            </div>
            <div class="d-flex right align-items-center header-icon">
                <div class="header-icon-cart" id="cart-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                </div>
                <div class="header-icon-login">
                    <div class="nav-header" id="login">
                        <img src="https://img5.thuthuatphanmem.vn/uploads/2021/11/20/anh-cute-nguoi-that-dep-nhat_022606213.jpg" alt="">
                        <a>Đăng nhập</a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                    <ul class="nav-content none">
                        <li>Tên tao</li>
                        <li>Đăng xuất</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="cart none" id="cart">
            <!-- title -->
            <div class="cart-title d-flex align-items-center">
                <p>Giỏ hàng</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" id="closeCart">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </div>
            <!-- end title -->

            <!-- order -->
            <div class="cart-product d-flex flex-1">
                
                <div class="cart-product-item">
                    <!-- Header item -->
                    <div class="cart-product-item-header d-flex align-items-center">
                        <div class="calender">
                            <input type="date">
                            <input type="date">

                        </div>
                        <div class="check-box">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                        </div>
                    </div>
                    <!-- End header item -->
                    <!-- body item -->
                    <div class="item-cart d-flex align-items-center justify-content-between px-3 py-1">
                        <div class="item-cart-img ">
                            <img src="https://cdn.honda.com.vn/motorbikes/February2023/dCC7xwQyQuRWszrYrT7F.jpg" class="rounded mx-auto d-block" alt="" width="100" >
                        </div>
                        <div class="item-cart-name flex-1">
                            <span>Honda winner X</span>
                        </div>
                        <div class="item-cart-price">
                            <span>130.000</span>
                        </div>
                        <div class="item-cart-clear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg>
                        </div>
                    </div>
                    <!-- end body item -->

                    <!-- body item -->
                    <div class="item-cart d-flex align-items-center justify-content-between px-3 py-1">
                        <div class="item-cart-img ">
                            <img src="https://cdn.honda.com.vn/motorbikes/February2023/dCC7xwQyQuRWszrYrT7F.jpg" class="rounded mx-auto d-block" alt="" width="100" >
                        </div>
                        <div class="item-cart-name flex-1">
                            <span>Honda winner X</span>
                        </div>
                        <div class="item-cart-price">
                            <span>130.000</span>
                        </div>
                        <div class="item-cart-clear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg>
                        </div>
                    </div>
                    <!-- end body item -->
                    <a  type="button" class="btn btn-outline-primary w-100 mb-2">Thanh toán</a>
                </div>
                <!-- end order -->

                <!-- btn-thanh-toan -->
                
                <!-- end btn-thanh-toan -->
                
            </div>
        </div>
        
    </header>
    
    <div class="slide-show">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://cdn.honda.com.vn/motorbikes/September2022/JCqCTLtm6ut04NB8btk1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://yenxephuquang.vn/wp-content/uploads/2021/11/hinh-anh-xe-do-dep-doc-dao-moi-nhat-2022-1-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.honda.com.vn/motorbikes/September2022/JCqCTLtm6ut04NB8btk1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div>
    <div class="container">
        <nav aria-label="breadcrumb" class="nav-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item " aria-current="page"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item " >Danh sách sản phẩm</li>
              

              
              
            </ol>
          </nav>
        <!-- <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm xe" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div> -->
        <p class="row product-TxtTile col-sm-12 col-lg-12 col-md-12 col-lg-1">Lựa Chọn <br>Theo Sở Thích Bạn</p>
          <div class="list-type-moto d-flex align-items-center">
                <button>Tất cả</button>
                <button>asd</button>

                <button>asd</button>
                <button>asd</button>

                <button>asd</button>
          </div>
          <div class="product d-flex align-items-center flex-wrap">
            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
                <div class="more"><a>Xem chi tiết</a></div>
            </div>

            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
            </div>

            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
            </div>

            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
            </div>
            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
            </div>
            <div class="product-item d-flex flex-column">
                <div class="img-product-item">
                    <img src="https://cdn.honda.com.vn/motorbikes/May2023/ZzWCbL9SRuvbN0TQj5we.jpg" alt="">
                </div>
                <div class="info-product-item">
                    <p>Tên xe</p>
                    <span class="w-100">Từ 1.231.500.000 VNĐ</span>
                </div>
            </div>
            




          </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        const btnLogin = document.getElementById("login");
        btnLogin.addEventListener("click",(e)=>{
            const tabLogin = document.getElementsByClassName("nav-content")[0];
            tabLogin.classList.toggle("none");
        });

        document.addEventListener('click', function(event) {
                const outsideClick = !document.getElementsByClassName('d-flex right align-items-center header-icon')[0].contains(event.target);
                if(outsideClick){
                     document.getElementsByClassName('nav-content')[0].classList.add('none');
                }
            });
    </script>
    <script>
        const cartIconBtn = document.getElementById("cart-icon");
        const cartBtn = document.getElementById("closeCart");
        
        function toggle(){
            document.getElementById("cart").classList.toggle("none"); 
        }
        cartIconBtn.addEventListener("click",()=>toggle());
        cartBtn.addEventListener("click",()=>toggle());

    </script>
    <script>
        const header = document.getElementsByTagName('header')[0];
        const  headerHeight=header.offsetHeight;
        window.onscroll = function() {scrollFunction()};

        function scrollFunction(){
            if(document.body.scrollTop > headerHeight || document.documentElement.scrollTop > headerHeight){
                header.classList.add('fixed');
            }else{
                header.classList.remove('fixed');
            }
        }
    </script>
</body>
</html>